[Desktop Entry]
Encoding=UTF-8
Name=NetBeans IDE {{ netbeans_ide_version }}
Comment=The Smarter Way to Code
Exec=/bin/sh "/opt/netbeans-{{ netbeans_ide_version }}/bin/netbeans"
Icon=/opt/netbeans-{{ netbeans_ide_version }}/nb/netbeans.png
Categories=Application;Development;Java;IDE
Version=1.0
Type=Application
Terminal=0
